<app-nav-bar [register]="true"></app-nav-bar>
<main>
  <div class="background"></div>
  <div class="container">
    <form action="">
      <h1>Iniciar Sesión</h1>
      <input
        type="text"
        placeholder="Nombre de la cuenta o correo electrónico
      "
      />
      <input type="text" placeholder="Contraseña" />

      <div class="container-checkbox">
        <input type="checkbox" name="Recordar Usuario" id="rememberUser" />
        <label for="rememberUser">Recordar Usuario</label>
      </div>

      <input type="button" value="INGRESAR" (click)="onLogin()" />
    </form>
  </div>
</main>
