main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.background {
  background-color: var(--yellow);
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  h1 {
    text-transform: uppercase;
    font-size: 5rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: 2rem;

  input[type="text"] {
    padding: 2rem;
    border-radius: 1.5rem;
    border: 0;
    background-color: rgb(236, 231, 231);
  }

  .container-checkbox {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    label {
      font-size: 2rem;
    }
  }

  input[type="button"]{
    width: max-content;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 0;
    background-color: cadetblue;
    color: var(--white);
  }
}
