nav {
  display: flex;  

  align-items: center;

  background-color: var(--gray);

  a{    
    text-transform: uppercase;
    text-decoration: none;
  
    color: white;
    background-color: transparent;
    
    padding: 1vh;
    font-size: 16pt;
  }
  
  a:not(#logo) {
    margin-right: 1rem;
    border-top: 0 var(--red) solid;
    border-bottom: 1vh var(--red) solid;
    transition-duration: .2s;
  }
  
  a:not(#logo):hover {
    border-top: 1vh var(--red) solid;
    background-color: var(--red);
    transition-duration: .2s;
  } 
  
  #logo{
    margin-right: auto;
    font-weight: bolder;
    color: var(--red);
    font-size: 3.2rem;
  }
  #logo + a{
    margin-left: auto;
  }
}

