// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --red: #CA2529;
    --dark-red: #592323;
    --light-blue: #717DB9;
    --dark-blue: #3C4575;
    --green: #0CC385;
    --light-gray: #ABABAB;
    --gray: #333333;
    --dark-gray: #212121;
    --white: #ffffff;
  }
