<main>
  <div class="container-title">
    <h1>Bienvenido A Nombre</h1>
    <p>
      Este cuestionario nos ayudará a generar un plan de entrenamiento
      personalizado para ti.
    </p>
    <progress max="100" value="30"></progress>
  </div>
  <div class="container-questions">
    <h2>Pregunta 3</h2>

    <div class="container-checkbox">
      <input type="radio" id="question1" name="question"/>
      <label for="question1">Respuesta 1</label>
    </div>

    <div class="container-checkbox">
      <input type="radio" id="question2" name="question"/>
      <label for="question2">Respuesta 2</label>
    </div>

    <div class="container-checkbox">
      <input type="radio" id="question3" name="question"/>
      <label for="question3">Respuesta 3</label>
    </div>

    <input type="button" value="CONTINUAR" />
  </div>
</main>
