<app-nav-bar></app-nav-bar>

<main class="background container">

  <div class="textContainer">
    <h1>Gym App</h1>
    <p class="text">
      Transforma tu vida con entrenamientos personalizados y metas claras. Ya sea
      que estés comenzando tu viaje fitness o buscando llevarlo al siguiente
      nivel, aquí encontrarás herramientas, rutinas y seguimiento para alcanzar
      tus objetivos. ¡Es hora de moverte, mejorar y sentirte increíble! Empieza
      hoy y conviértete en la mejor versión de ti mismo.
    </p>
  </div>

</main>