<div class="background">
  <nav>
    <a routerLink="/explore">Explorar Planes</a>
    <a routerLink="/register">Registrarse</a>
    <a routerLink="/login">Iniciar Sesión</a>
  </nav>

  <main>
    <h1>Lorem Ipsum</h1>
    <div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
        cumque esse harum corporis inventore unde consequatur adipisci dolorem,
        sunt cum illum id deserunt, accusamus iusto. Repellat magni laboriosam
        labore dolores.
      </p>
      <div>
        <img src="" alt="Canasta" />
        <img src="" alt="Pesas" />
      </div>
    </div>
  </main>
</div>
