<div class="background">
  <app-home-nav-bar></app-home-nav-bar>

  <main>
    <div class="container">
      <div class="label">
        <h1>Lorem Ipsum</h1>
      </div>
      <div class="img-container">
        <img src="./home-page/Canasta.svg" alt="Pesas" />
      </div>
      <div>
      <p class="text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
        cumque esse harum corporis inventore unde consequatur adipisci dolorem,
        sunt cum illum id deserunt, accusamus iusto. Repellat magni laboriosam
        labore dolores. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Sapiente doloribus sequi sed perspiciatis. Eum placeat voluptates,
        doloremque similique nemo odio distinctio dolorem veritatis inventore
        dolores in recusandae perferendis pariatur vel. Lorem, ipsum dolor sit
        amet consectetur adipisicing elit. Incidunt, blanditiis non, velit
        quibusdam, sapiente aspernatur nemo assumenda officia error voluptates
        veniam in sunt unde doloremque quos dolore qui itaque ratione.
      </p>
    </div>
    </div>
  </main>
</div>
