/* You can add global styles to this file, and also import other style files */
@import url("./normalize.css");
:root {
  --red: #CA2529;
  --dark-red: #592323;
  --light-blue: #717DB9;
  --dark-blue: #3C4575;
  --green: #0CC385;
  --light-gray: #ABABAB;
  --gray: #333333;
  --dark-gray: #212121;
  --white: #ffffff;
}

*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* =10px */
  font-family: 'Roboto', sans-serif;
}

/* Establece el tamaño base en 10px lo que facilita la conversión */

body {
  font-size: 1.6rem; /* =16px */
}

h1 {
  font-size: 3.2rem; /* =32px */
}

h2 {
  font-size: 2.4rem; /* =24px */
}

a {
  text-decoration: none;
}

