nav {
  display: flex;
  justify-content: end;
  
  gap: 3rem;
  padding: 2rem;

  background-color: var(--gray);

  a{    
    text-transform: uppercase;
  
    color: white;
    background-color: transparent;
    
    padding: 1rem;
    font-size: 2.5rem;
  }
  
  a:not(#logo) {
    transition-duration: .2s;
    border-bottom: 1rem var(--red) solid;
  }
  
  a:not(#logo):hover {
    background-color: var(--red);
    transition-duration: .2s;
  }
  
  
  #logo{
    margin-right: auto;
    font-weight: bolder;
    color: var(--red);
    font-size: 3.2rem;
  }
  #logo + a{
    margin-left: auto;
  }
}

