nav {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray);

  a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
  }

  button {
    padding: 1rem;
    border-radius: 1rem;
    &:hover {
      color: red;
      background-color: white;
    }
  }

  .logo-div {
    display: flex;
    align-items: center;
  }

  .links {
    display: flex;
    gap: 2rem;
  }

  .logo-img {
    max-width: 5rem;
    filter: invert(100%);
    &:hover {
      filter: invert(0%)
    }
  }
}
