<body>
  <app-user-nav-bar [profile]="true"></app-user-nav-bar>
  
  <div id="title">
      <h1>RUTINA</h1>
      <button class="utilButton">EXPORTAR</button>
      <button class="utilButton">CARGAR</button>
  </div>

  <div id="routine">
      @for (workout of routine?.routines; track workout.id) {
        <div class="workout">
          <h2>DIA {{ $index + 1 }}</h2>
          @for (block of workout.blocks; track block.id) {
            <div class="exercise">
              <p>{{ block.excerciceName }}</p>
            </div>
          }
          <button class="startBttn">EMPEZAR</button>
        </div>
      }
    </div>
</body>
