<app-nav-bar></app-nav-bar>

<main class="background">
  <div class="textContainer">
    <h1>Gym App</h1>
    <p class="text">
      <span
        >¡Bienvenido a Gym App! <br />
        Es un gusto tenerte de nuevo {{ (userInfo | async)?.userName }}</span
      >
    </p>
  </div>

  <!-- Contenedor para las cajas -->
  <div class="cajas-container">
    <div class="crearRutina">
      <p>Crear Rutina</p>
      <img src="/assets/plans-page/GymStock.jpg" alt="Crear Rutina" />
    </div>
    <div class="consultar">
      <p>Consulta tus rutinas</p>
      <img src="/assets/plans-page/GymStock.jpg" alt="Crear Rutina" />
    </div>
    <div class="progreso">
      <p>Consulta tu progreso</p>
      <img src="/assets/plans-page/GymStock.jpg" alt="Crear Rutina" />
    </div>
    <div>
      <p>Loggear progreso actual</p>
      <img src="/assets/plans-page/GymStock.jpg" alt="Crear Rutina" />
    </div>
  </div>
</main>
