<app-nav-bar></app-nav-bar>

<html>

<body>


  <main class="background">

    <!-- Bienvenida -->
    <section class="welcome-section">
      <div class="textContainer">
        <h1>Gym App</h1>
        <p class="text">
          <span>¡Bienvenido a Gym App! <br> Es un gusto tenerte de nuevo</span>
        </p>
      </div>
    </section>

    <!-- Opciones disponibles -->
    <section class="features-section">
      <h2>¿Qué deseas hacer hoy?</h2>
      <div class="cajas-container">
        <div class="feature-card crearRutina">
          <img src="/assets/plans-page/GymStock.jpg" alt="Crear Rutina" />
          <p>Crear Rutina</p>
        </div>
        <div class="feature-card consultar">
          <img src="/assets/plans-page/GymStock.jpg" alt="Consultar Rutinas" />
          <p>Consultar tus rutinas</p>
        </div>
        <div class="feature-card progreso">
          <img src="/assets/plans-page/GymStock.jpg" alt="Consultar Progreso" />
          <p>Consultar tu progreso</p>
        </div>
        <div class="feature-card logProgreso">
          <img src="/assets/plans-page/GymStock.jpg" alt="Loggear Progreso" />
          <p>Loggear progreso actual</p>
        </div>
      </div>
    </section>
  </main>
</body>

</html>