body{
    display: flex;
    flex-direction: column;

    margin: 5px 2%;
}

h1{
    padding: 1%;
    align-self: center;
    
    background-color: #A9D4DB;
    color: white;
}

input{
    padding: .5% 1%;
    width: 98%;
    border: 0px;
    
    align-self: center;
    
    background-color: #A9D4DB;
    color: white;
    
    font-style: normal;
    font-size: larger;
}

input::placeholder{
    font-style: italic;
    color: white;

    
}

input:focus{
    outline: 2px #8baeb4 solid;
}
