input{
    border: 4px solid;
    border-radius: 1rem;
    background-color: transparent;
    
    color: white;
    transition-duration: .2s;
    width: 100%;
    height: 100%;
}

input:hover{
    transition-duration: .2s;
    background-color: currentColor;
}
