<div class="exercise-card">
    <h2>Ejercicio 1 - Nombre</h2>
    <div class="exercise-info">
        <h3>Peso (kg)</h3>
        <h3>Repeticiones</h3>
        <input
          type="number"
          placeholder="80 kg"
          class="input-box"
        />
        <input
        type="number"
        placeholder="10"
        class="input-box"
        />
        <input
          type="number"
          placeholder="80 kg"
          class="input-box"
        />
        <input
        type="number"
        placeholder="10"
        class="input-box"
        />
        <input
          type="number"
          placeholder="80 kg"
          class="input-box"
        />
        <input
        type="number"
        placeholder="10"
        class="input-box"
        />
    </div>
</div>
  