<app-nav-bar [register]="true" [login]="true"></app-nav-bar>

<main class="background container">
  <div class="label">
    <h1>Gym App</h1>
  </div>
  <div class="img-container">
    <img src="/assets/home-page/Pesas.png" alt="Pesas" />
  </div>
  <p class="text">
    <span>Bienvenido a Gym App!</span>
    Transforma tu vida con entrenamientos personalizados y metas claras. Ya sea
    que estés comenzando tu viaje fitness o buscando llevarlo al siguiente
    nivel, aquí encontrarás herramientas, rutinas y seguimiento para alcanzar
    tus objetivos. ¡Es hora de moverte, mejorar y sentirte increíble! Empieza
    hoy y conviértete en la mejor versión de ti mismo.
  </p>
</main>
